@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Roboto Mono", monospace;

  --font-serif: "Cinzel Decorative", serif;

  --font-mono: "Roboto Mono", monospace;

  --color-cyan-glow: #00D3F2;
}

@layer components {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-xs;

    @apply border border-white/40;

    box-shadow: 
      -2px -4px 6px -2px rgba(0, 0, 0, 0.05),
      2px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}
